---
import Layout from '../layouts/Layout.astro'
import Page from '../components/layout/Page'
import Header from '../components/pages/home/Header'
import Skills from '../components/pages/home/Skills'
import Title from '../components/pages/home/Title'
import Testimonials from '../components/pages/home/Testimonials'

import Button from '@/components/ui/button/Button'
import { MoveRight } from 'lucide-react'
import { getCollection } from 'astro:content'
import { render } from 'astro:content'
import i18n from '@/methods/i18n/i18n'
import ProjectOverview from '@/components/pages/projects/ProjectOverview'

const testimonials = await getCollection('testimonials', ({ data }) => {
  return data.priority === true
})
const testimonial = testimonials[0]
const { Content: TestimonialContent } = await render(testimonial)

const projects = await getCollection('projects', ({ data }) => {
  return data.priority === true
})
const project = projects[0]
---

<Layout title="Portfolio">
  <Header
    title={i18n('home.tagline')}
    subtitle={i18n('home.subline')}
    ctaTitle={i18n('home.cta.title')}
    ctaLink={i18n('home.cta.link')}
  />
  <Page>
    <Title
      title={i18n('home.stack.title')}
      subtitle={i18n('home.stack.subtitle')}
      className="mb-6 md:mt-32 mt-20"
    />
    <Skills client:visible />

    <Title
      title={i18n('home.projects.title')}
      subtitle={i18n('home.projects.subtitle')}
      className="mb-6 md:mt-32 mt-20"
    />
    <ProjectOverview project={project} client:visible />
    <div class="mt-10 flex justify-center">
      <Button href="/projects" iconAfter={MoveRight}>
        {i18n('home.projects.show-more')}
      </Button>
    </div>

    <Title
      title={i18n('home.testimonials.title')}
      subtitle={i18n('home.testimonials.subtitle')}
      className="mb-6 md:mt-32 mt-20"
    />
    <Testimonials
      name={testimonial.data.name}
      picture={testimonial.data.picture}
      company={testimonial.data.company}
      companyLink={testimonial.data.companyLink}
      visitProjects={i18n('home.testimonials.visit-projects')}
      tags={testimonial.data.tags}
    >
      <TestimonialContent />
    </Testimonials>
    <div class="mt-10 flex justify-center">
      <Button href="/testimonials" iconAfter={MoveRight}>
        {i18n('home.testimonials.show-more')}
      </Button>
    </div>
  </Page>
</Layout>
